* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1e3448;
    height: 100vh;
    overflow: hidden;
}

/* COMMON SLIDE */
.slide {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* HIDDEN SLIDE */
.hidden {
    display: none;
}

/* WELCOME SLIDE */
.welcome {
    flex-direction: column;
    text-align: center;
}
.welcome h1 {
    font-size: 48px;
    font-weight: 700;
}

.welcome h1 span {
    color: #2fa4e7;
}

.welcome p {
    margin-top: 15px;
    font-size: 18px;
    color: #cfd8dc;
}

/* LOGIN SLIDE */
.login {
    display: flex;
}

/* LEFT */
.login-left {
    width: 50%;
    padding: 80px;
	margin-left: 350px;
}

.login-left h2 {
    font-size: 50px;
    color: #2fa4e7;
}

.login-left p {
    margin-top: 20px;
    color: #cfd8dc;
    font-size: 24px;
}

/* RIGHT */
.login-right {
    width: 40%;
    background-color: white;
    color: #333;
    padding: 80px;
	border-radius: 10px;
	margin-right: 350px;
}

.login-right h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.login-right input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-right button {
    width: 100%;
    padding: 10px;
    background-color: #2fa4e7;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.login-right button:hover {
    background-color: #4fb3f6;
}

.link {
    margin-top: 15px;
    font-size: 14px;
}

.link a {
    color: rgb(0, 128, 255);
    text-decoration: underline;
	
}

#error {
    margin-top: 10px;
    color: red;
}
